# 1121 복습

# 모험가 길드

In [4]:
# 공포도. 공포도 이상 사람이면 x
# 모든 모험가가 들어갈 필요는 없다.

n = int(input())

s = list(map(int,input().split()))
s.sort()
count=0
result=0

for i in s:
  count+=1
  # result+=i

  if i>=count:
    result+=1


print(result)

5
2 3 1 2 2
2

# 문자열 뒤집기

다솜이는 0과 1로만 이루어진 문자열 s를 가지고 있습니다. 다솜이는 이 문자열 s에 있는 모든 숫자를 전부 같게 만들려고 합니다. 

다솜이가 할 수 있는 행동은 s에서 연속된 하나 이상의 숫자를 잡고 모두 뒤집는 것입니다. 뒤집는 것은 1을 0으로, 0을 1로 바꾸는 것을 의미합니다.

예를 들어 s =0001100 일때는  다음과 같습니다.

1. 전체를 뒤집으면 1110011이 됩니다.
2. 4번째 문자부터 5번째 문자까지 뒤집으면 1111111이 되어서 두 번 만에 모두 같은 숫자로 만들 수 있습니다.

하지만, 처음부터 4번째 문자부터 5번째 문자까지 문자를 뒤집으면 한 번에 0000000이 되어서 1번 만에 모두 같은 숫자로 만들 수 있습니다


```
문자열 s가 주어졌을 때, 다솜이가 해야 하는 행동의 최소 횟수를 출력하세요.

```

In [3]:
data = input()

count0=0
count1=0

if data[0] =='1':

  count0+=1

else:

  count1+=1


for i in range(len(data)-1):

  if data[i]!=data[i+1]:

    if data[i+1] == '1':

      count0+=1

    else:
      count1+=1


print(min(count0,count1))

0001100
1

In [12]:
data = input()

count0=0 # 전부 0으로 바꾸는 경우
count1=0 # 전부 1으로 바꾸는 경우


if data[0]==0:
  count1+=1

else:

  count0+=1

for i in range(len(data)-1):

  if data[i] != data[i+1]:  

    if data[i+1]==1:  # data[i+1]값이 1이면 0으로 바꿔야하는 경우가 하나 더 증가한거다.
      count0+=1

    else:

      count1+=1




print(min(count0,count1))

0001100
1

전부 0으로 바꾸는 경우와 전부 1로 바뀌는 경우 중에서 더 적은 횟수를 가지는 경우를 계산하면 된다.

In [6]:
data = input()

count0=0 # 전부 0으로 바꾸는 경우
count1=0 # 전부 1로 바꾸는 경우

if data[0] == 0: # 첫 값은 왜 이렇게 셋팅할까?
  count1+=1

else:
  count0+=1


for dat in range(len(data)-1): # 두 개의 값씩 보니까 

  if data[dat] != data[dat+1]:

    if data[dat+1] == 1:
      count0+=1

    else:
      count1+=1


print(min(count0,count1))

0001100
1

# 복습하자