# 그리디

# 모험가 길드

In [4]:
list_=[1,2,3,4]
print(max(list_))

4

In [17]:
n=map(int,input().split())

data = list(map(int,input().split()))


data.sort()
count=0
result=0
for i in data:

  count+=1 # 합류된 수

  if count>=i: # 합류된 수가 공포보다 크다면
    result+=1
    count=0


print(result)

5
2 3 1 2 2
2

# 곱하기 혹은 더하기

In [26]:
s='02984'
s_list=[]
for i in s:
  s_list.append(i)


s_list

['0', '2', '9', '8', '4']

In [30]:
s = input()


sum=1
sum_2=0
s_list=[]
for i in s:
  s_list.append(i)


for i in s_list:
  if i == '0' or i =='1':
    sum_2+=int(i)

  else:
    sum*=int(i)


print(sum+sum_2)



# 오 한번에 정답.

567
210

# 문자열 뒤집기

In [33]:
# 답안 버전

data = input()

result=int(data[0])


for i in range(1,len(data)):
  num=int(data[i])
  if num<=1 or result<=1:
    result+=num

  else:
    result*=num

print(result)

567
210